*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


/* card css */

.card{
  
  width: 20vw;
  height:45vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius:5px;
  margin: 20px 12px;

}
.card-images>a>img{
  border-radius: 5px;
}

.card-title{
  padding: 20px;
  text-align: start;
  font-size: 1rem;
}

.dashboard-thumbnail{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
}

@media screen and (max-width:768px) {
  .dashboard-thumbnail{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;

  }
  .card{
    width: 30vw;
  }
  
}

@media screen and (max-width:425px) {
  .dashboard-thumbnail{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    grid-row-gap:16px

  }
  .card{
    width: 80vw;
    height: 70vh;
    margin: auto;
  }
  
}